<h2>Payment Results</h2>
<p>APR
<p><%=@apr.to_fs(:percentage, {:precision => 4})%>
<p>Number of years
<p><%=@yrs%>
<p>Principal
<p><%=@principal.to_fs(:currency,{:precision => 2})%></p>
<p>Payment
<p><%=@results.to_fs(:currency,{:precision => 2})%></p>
<a href="/payment/new">Calculate another payment</a>
