<form action="/payment/results" method="get">
  <p><label for="apr">APR</label><input id="apr" name="apr" placeholder="E.g. 5.42"></p>
  <p><label for="yrs">Number of years</label><input id="yrs" name="yrs" placeholder="How many years to repay?"></p>
  <p><label for="principal">Principal</label><input id="principal" name="principal" placeholder="How much principal?"></p>
  <button>Calculate monthly payment</button>
</form>
