<form action="/random/results" method="get">
  <p><label for="min">Minimum</label><input id="min" name="min" placeholder="E.g. 1.5"></p>
  <p><label for="max">Maximum</label><input id="max" name="max" placeholder="E.g. 4.5"></p>
  <button>Pick random number</button>
</form>
