<form action="/square_root/results" method="get">
  <p><label for="number">Enter a number</label></p>
  <p><input id="number" name="number" placeholder="What number do you want to square root..."></p>
  <button>Calculate square root</button>
</form>
