<form action="/square/results" method="get">
  <p><label for="number">Enter a number</label></p>
  <p><input id="number" name="number" placeholder="What number do you want to square..."></p>
  <button>Calculate square</button>
</form>
